#habilidades {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url("/img/habilidades.jpg");
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid red;
    h2 {
        color: white;
        margin-right: 6rem;
        margin-left: 1rem;
    }
}

.Container-habilidades{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.card-habilidades{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(30px);
    padding: 95px;
    gap: 30px;
    width: 0;
    height: 0;
    justify-content: center;
    align-items: center;
    transition: opacity .3s;
}

.card-habilidades:hover{
    cursor: pointer;
    opacity: .3;
}

.container-imagen-habilidades{
    border: solid 1px #91190e;
    padding: 20px;
    background-color: rgb(24, 26, 27);
    border-radius: 50px;
}
.container-texto-habilidades{
    margin-left: 4%;
    margin-bottom: 5%;
}

.titulo-habilidades{
    font-size: 19px;
    color: #d2cec8;
    font-weight: 900;
}

@media (max-width:1024px) {
    #habilidades {
        height: 1500px;
        .Container-habilidades {
            display: flex;
            flex-wrap: wrap;
        }
    }
}