#estudios {
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url("/img/estudios.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 5px solid red;
    width: 100%;
    height: 600px;
    padding: 60px 0 0 0;
}

.titulo-container-estudios{
    margin-top: 1%;
    margin-bottom: 2%;
    color: #d2cec8;
    font-style: italic;
    font-size: 29px;
    font-weight: 900;
}

.containers-estudios{
    text-align: center;
}

.container-estudio{
    display: flex;
    margin: 2% auto;
    padding: 3px;
    gap: 29px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    
    max-width: 60%;
    align-items: center;
    justify-content: space-around;
}

.js{
    gap: 58px;
}
.logo-coderhouse{
    width: 71px;
    border-radius: 50px;
}

.titulo-card-estudio{
    color: #d2cec8;
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
}

.descripcion-card-estudio{
    color: #d2cec8;
    font-size: 16px;
    margin-top: 2%;
    width: 30%;
}